.actions__filters {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.actions__filter {
  border: 1px solid transparent;
  border-radius: var(--border-radius);

  font-size: 1rem;
  font-weight: 700;
  line-height: 160%;
  color: var(--color-secondary);
  list-style: none;

  &.active {
    border: 1px solid var(--color-active);
    color: var(--color-active);
  }

  button {
    display: flex;
    padding: 9px 19px;
    border-radius: var(--border-radius);
  }
}

.actions__filter-count {
  pointer-events: none;
  margin-left: 4px;
  font-size: 0.625rem;
  line-height: 1.2;
}
