@import '../../features/filters/filters.css';
@import '../../features/search/search.css';

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 102px;
  align-items: center;
  justify-content: space-between;

  margin-top: 85px;
}
