.actions__search {
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-width: 315px;
  padding: 11px 16px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);

  font-size: 0.875rem;
  line-height: 150%;

  input::placeholder {
    color: var(--color-secondary);
  }
}
