.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 60px;
}

.cards__elem {
  border-radius: var(--border-radius);
  box-shadow: 0 10px 18px 10px #0000000a;
}

.cards__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px;
}

.cards__bag {
  width: fit-content;
  padding: 1px 8px;
  border-radius: var(--border-radius);

  font-size: 0.875rem;
  line-height: 150%;
  color: #fff;

  &.success {
    background-color: var(--success);
  }

  &.info {
    background-color: var(--info);
  }

  &.warning {
    background-color: var(--warning);
  }

  &.error {
    background-color: var(--error);
  }

  &.dev {
    background-color: var(--dev);
  }
}

.cards__postinfo {
  display: flex;
  gap: 8px;
  align-items: center;

  span::after {
    content: '';

    display: inline-block;

    width: 1px;
    height: 16px;

    background: black;
  }
}
