.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 60px;
}

.cards__elem {
  overflow: hidden;
  max-width: 390px;
  border-radius: var(--border-radius);
  box-shadow: 0 10px 18px 10px #0000000a;
}

.cards__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px;
}

.cards__bag {
  width: fit-content;
  padding: 1px 8px;
  border-radius: var(--border-radius);

  font-size: 0.875rem;
  line-height: 150%;
  color: #fff;

  &.success {
    background-color: var(--success);
  }

  &.info {
    background-color: var(--info);
  }

  &.warning {
    background-color: var(--warning);
  }

  &.error {
    background-color: var(--error);
  }

  &.dev {
    background-color: var(--dev);
  }
}

.cards__name {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 150%;
}

.cards__postinfo {
  display: flex;
  gap: 8px;
  align-items: center;
}

.cards__price {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 150%;
  color: var(--danger);
}

.cards__sep {
  width: 1px;
  height: 16px;
  background: var(--bg);
}

.cards__author {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
  color: var(--color-secondary);
}
