@import '../../widgets/actions/actions.css';
@import '../../widgets/cards/cards.css';

@import '../../features/load/load.css';

.container {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 1270px;
  margin: 0 auto;
  padding: 44px 20px 86px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.header__subtitle {
  font-size: 1rem;
  text-transform: uppercase;
}

.header__title {
  font-size: 2.875rem;
  font-weight: 900;
  line-height: 130%;
}
